@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);

body
html
	width 100%
	height 100%
	overflow hidden
	position relative
	text-align center
	font-family 'Raleway', sans-serif

	> div
		position absolute

		button
			border none
			cursor pointer